{% extends "master.njk" %}

{% block body %}
	<article class="article">
		<header class="article-header">
			<h1>{{ title }}</h1>
		</header>

		<div class="article-content">
			{{ contents | safe }}
		</div>
	</article>
{% endblock %}